{% extends 'base.html' %}
{% block content %}

<h2 class="text-light display-6 text-center" >Merlin Chat Room: {{room}}</h2>
<div class="encrypt">
    <input type="number" name="shift" id="shift" placeholder="Key Shift">
    <input type="text" name="seed1" id="seed1" placeholder="Code Word 1">
    <input type="text" name="seed2" id="seed2" placeholder="Code Word 2">
    <input type="text" name="seed3" id="seed3" placeholder="Code Word 3">
</div>
<div class="encrypt"> 
    <input type="text" name="toenc" id="toenc" placeholder="Message To Encode" rows="3">
    <button class="btn btn-danger" type="submit" name="encrypt" id="encrypt-btn" onclick="encrypt()">Encode Message</button>
</div>
<div class="maincon container-fluid message-box">
    <div class="messages text-light" id="messages">
        
    </div>
</div>
<div class="lowercon container-fluid">
    <div class="text-center" id="lower">TO DECRYPT MESSAGE, CLICK ON ENCRYPTED TEXT</div>
</div>
<div class="inputs">
    <input  type="text" name="message" rows="3" placeholder="Clear Message" id="message">
    <button class="btn btn-light" type="submit" name="send" id="send-btn" onclick="sendMessage()">Send Clear Message</button>
</div>

<script rel="text/javascript" src="{{url_for('static', filename='js/sockscript.js')}}"></script>

{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}","{{msg.message}}")
</script> 
{% endfor %}


{% endblock %}